{% extends "admin/base.html" %}
{% load i18n %}
{% load user_filters %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
{% block usertools %}
    <div id="custom-user-tools">
        {% if user.is_superuser %}
            {% if request.session.admin_user_id %}
                <span>Viewing as {{ request.session.admin_user_id|user_id_to_username }}</span>
                <a href="{% url 'dsud:unset_user' %}">Switch back to admin</a>
            {% else %}
                <a href="{% url 'admin:users_user_changelist' %}">Switch User</a>
            {% endif %}
        {% endif %}
        | 
        {{ block.super }}
    </div>
{% endblock %}